<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<!-- Navigation -->
<nav th:replace="fragments :: navigation-shop"></nav>
<br><br><br>

<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-6">
                                <h5><i class="fa fa-shopping-cart"></i> Carrito de compra</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <hr>
                    <div class="row" th:each="prodCarrito : ${prodCars}">
                        <!-- Modificado para agregar la imagen con tamaño fijo -->
                        <div class="col-xs-2">
                            <img class="img-responsive" th:src="@{${prodCarrito.producto.imagenUrl}}" alt="Product Image" style="width: 100px; height: 70px;">
                        </div>
                        <div class="col-xs-4">
                            <h4 class="product-name"><strong th:text="${prodCarrito.producto.nombre}"></strong></h4>
                            <h4><small class="text-muted">Stock: <span th:text="${prodCarrito.producto.stock}"></span></small></h4>
                            <h4><span class="badge badge-secondary" th:text="'$' + ${prodCarrito.producto.precio}"></span></h4>
                        </div>
                        <div class="col-xs-6">
                            <div class="input-group">
                                <!-- Botón para incrementar la cantidad -->
                                <form th:action="@{/api/carrito/incrementar/{id}(id=${prodCarrito.id})}" method="post" style="display: inline;">
                                    <button type="submit" class="btn btn-info">+</button>
                                </form>

                                <!-- Campo de cantidad modificado -->
                                <input id="cantidad-${prodCarrito.id}" type="text" th:value="${prodCarrito.cantidad}" min="1" readonly style="width: 60px; text-align: center; margin: 0 10px;">

                                <!-- Botón para decrementar la cantidad -->
                                <form th:action="@{/api/carrito/decrementar/{id}(id=${prodCarrito.id})}" method="post" style="display: inline;">
                                    <button type="submit" class="btn btn-warning">-</button>
                                </form>
                            </div>

                            <!-- Botón para quitar producto -->
                            <form th:action="@{/api/carrito/{id}(id=${prodCarrito.id})}" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-danger">Quitar</button>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="text-center">
                            <div class="col-xs-9">
                                <h6 class="text-right">Productos agregados: <span th:text="${carrito.cantidadProductos}"></span></h6>
                                <h4 class="text-right">Total <strong>$<span th:text="${carrito.precioTotal}"></span></strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row text-center">
                        <div class="col-xs-9">
                            <button type="button" class="btn btn-success btn-block" th:if="${carrito.cantidadProductos} > 0">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br><br>
<!-- Footer -->
<footer th:replace="fragments :: footer"></footer>
</body>
</html>